@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
    scroll-padding-top: 64px;
}   


body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


::-webkit-scrollbar {
    display: none;
}

.timeLineShadow{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

@media screen and ( -webkit-min-device-pixel-ratio: 1.25) and (min-width: 1024px ) {
    .lapScreen{
        transform: scale(0.85);
    }
    
    .getTxt{
        top: 0%;
    }

}

