@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
    scroll-padding-top: 64px;
}   


body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
    display: none;
}

.timeLineShadow{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}
